@import "Styles/Colors.scss";

.Banner {
	background-image: url("https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bm90ZXN8ZW58MHx8MHx8&w=1000&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100vh - 50px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Banner_Box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: $color-gray;
	width: 20rem;
	height: 30%;
	border-radius: 30px;
	padding: 30px;
	transition: all 0.5s;
}

.Banner_Box:hover {
	box-shadow: 5px 5px 10px 1px $color-blue;
}

.Banner_Box_Link {
	width: 100%;
	background-color: $color-purple;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	color: $color-gray;
}
