@import "Styles/Colors.scss";

.navbar {
	height: 50px;
	background-color: $color-purple;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logoNav {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin: 0;
	margin-left: 30px;
	font-size: large;
	font-weight: bold;
	color: $color-gray;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	border-radius: 5px;
	transition: background-color 0.5s;
}

#logoNav:hover {
	color: $color-purple;
	background-color: $color-gray;
}

.navbar > button {
	height: 50px;
	margin-right: 30px;
}

.navbar_loginbutton {
	font-size: large;
	font-weight: bold;
	color: $color-gray;
	background-color: $color-purple;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	border-radius: 5px;
	transition: background-color 0.5s;
}

.navbar_loginbutton:hover {
	color: $color-purple;
	background-color: $color-gray;
}
