.navbar {
	height: 50px;
	background-color: #7209b7;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logoNav {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin: 0;
	margin-left: 30px;
	font-size: large;
	font-weight: bold;
	color: #4cc9f0;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	border-radius: 5px;
	transition: background-color 0.5s;
}

#logoNav:hover {
	background-color: #f72585;
}

.navbar > button {
	height: 50px;
	margin-right: 30px;
}
